{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'slike/css/Home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/Registration.css' %}">
    {% if title %}
        <title>Pictures: {{ title }}</title>
    {% else %}
        <title>Slike</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <!-- Ce je user prijavljen ga izpisemo-->
                {% if user.is_authenticated %}
                    <h4 class="navbar-brand mr-4" id="trenutniUporabnik">Currently logged in: {{user.username}}</h4>
                {% endif %}
                <a class="navbar-brand mr-4" id="TrenutnaStran">{{ title }}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                        aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <!--Ce smo na domaci strani in je uporabnik prijavljen, mu prikazemo moznost da vidi svoje prejsnje uploade. Drugace pa samo prikazemo povezavo do domace strani.-->
                        {% if title == "Home Page" and user.is_authenticated %}
                            <a class="nav-item nav-link" href="{% url 'slike-PreviousUploads'%}">Previous Uploads</a>
                        {% elif title != "Home Page" %}
                            <a class="nav-item nav-link" href="{% url 'slike-home' %}">Home Page</a>
                        {% endif %}
                    </div>
                    <div class="navbar-nav">
                        <!-- Ce je uporabnik prijavljen mu damo na voljo samo moznost izpisa, drugace pa mu ponudimo registracijo in prijavo. -->
                        {% if user.is_authenticated %}
                            <a class="nav-item nav-link" href="{%url 'logout'%}">Logout</a>
                        {% else %}
                            <a class="nav-item nav-link" href="{%url 'login'%}">Login</a>
                            <a class="nav-item nav-link" href="{%url 'register'%}">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- V kolikor v backendu vracamo kaka sporocila jih prikazemo tukaj. -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>