{% extends "slike/html/Base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<!--Ce uporabnik ni prijavljen, ga pozdravimo in napisem da naj se ali registrira ali prijavi. Moznosti za nalaganje slike mu pokazemo sele ko je prijavljen. -->
    {% if not user.is_authenticated %}
        <div class="container text-center">
            <h1>Welcome to Pictures</h1>
            <p>To continue please
                <bold>LOGIN</bold>
                in top right corner.
            </p>
        </div>
    {% else %}
        <div class="content-section UploadForm" >
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Upload picture here!</legend>
                    {{ slike_form|crispy}}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Upload!</button>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}