{% extends "slike/html/Base.html" %}
{% block content %}
    <!--For loop za sprehod po vseh Uploadih uporabnika ki je trenutno prijavljen -->
    {% for slika in AllUploads %}
        <div class="container UploadedForm">
            <img src="{{ slika.image.url }}" width="20%" height="auto">
            <h3>Location: {{slika.location}}</h3>
            <h3>Name and quantity: {{slika.data}}</h3>
            <h3>Uploaded date/time: {{slika.name|date:"d:m:Y,H:i:s"}}</h3>
            <h3>Author: {{slika.author}}</h3>
            <br>
        </div>
    {% endfor %}
{% endblock %}